* {
    /* when it is not set to border-box, it might cause the scrolling bar used with 100vh */
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #404040;
    margin: 0;
    text-align: center;
}

.container {
    max-width: 400px;
}

.margin-bottom {
    margin-bottom: 0.5rem;
}

/* typography */

h1 {
    color: #fff;
    font-weight: 300;
    font-size: 2.25rem;
    margin: 0;
}


/* 
// this is the combinator, where it indicates that specific p tag comes right after h1, takes this style
h1 + p {
    color: red;
}
// this is tilde, where it indicates that every p tag comes after h1 is taking this style
h1 ~ P {
    color: pink
}

*/


h2, h3, .main-header {
    color: #F18119;
}

h2, h3, button, .main-header {
    text-transform: uppercase;
}

h2 {
    font-size: 1.25rem;
    margin-bottom: 0;
}

strong {
    font-weight: 900;
}

input {
    text-align: center;
    font-family: inherit;
}

.main-header {
    letter-spacing: 2px;
    margin: 0;
    padding-top: 2px;
    border-top: 8px solid #F18119;
    border-image: linear-gradient(to left, #ff713b, #ffa51d) 1;
    max-width: 17em;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    max-width: 9em;
    margin-left: auto;
    margin-right: auto;
}

.main-subcontent {
    margin: 0;
}

.aside-header {
    text-transform: none;
    color: #404040;
}

.aside-subheader {
    margin: 0;
}

.aside-p {
    line-height: 1.25;
    max-width: 23em;
    margin-left: auto;
    margin-right: auto;
}

.aside-form-legal {
    font-size: 0.625rem;
    letter-spacing: 1px;
    margin-bottom: 0;
}

/* layout */

.main-bbq {
    padding: 0 .5em 2em;
    /* background-color: #404040; */
    background-image: url(../images/ribs.jpg), linear-gradient(45deg, red, green);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}
.main-header {
    order: -1;
}

.aside-bbq {
    padding: 1rem;
}

.aside-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    justify-content: space-between;
    /* background-color: pink; */
    margin-bottom: 1rem;
}

input, .btn {
    width: 100%;
    border-radius: 3px;
    height: 1.6rem;
}

input {
    border: 1px solid #404040;
    padding: 0.25em;
}

.btn {
    font-weight: 900;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0.5em 1.5em;
    font-size: 0.625rem;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-image: linear-gradient(-45deg, #DF4E13, #FFA51D );
    color: white;
    transform: scale(1);
    transition: transform 0.25s;
}

.btn-primary:hover,
.btn-primary:focus {
    transform: scale(1.05);
}

/* 
1. gradient
2. position of the header always on top
3. style the input 
4. give gradient to button
5. position sub-header in the main in different positon
*/


/* media queries*/

@media (min-width:700px) {
    body {
        font-size: 1.125rem;
        display: flex;
        min-height: 100vh;
    }
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 1.75rem;
        line-height: 1em;
    }
    .aside-form-legal {
        font-size: 0.8rem;
    }
    .main-bbq {
        width: 60%;
    }
    .aside-bbq {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}